/* General Styles */

html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-weight: normal;
}


/* Header section: logo, banner, nav */

header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

header h2, img {
  display: inline;
  padding: 0 0.5rem;
}

header img {
  height: 1.5rem;
}

/* Products */
/* Info: Location/Hours */
/* Footer */
